<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
		<link href="/css/pageStyle.css" rel="stylesheet"/>
</head>
	<body>
		<footer th:fragment="footer-website" class="footer-website">
					<div>
						Website, 2023
					</div>
		</footer>
		
		<footer th:fragment="footer-user-website" class="footer-user-website">
					<div>
						Made by <p th:text={user.getUsername()}>#</p>
					</div>
		</footer>
	</body>

</html>