<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
		<link href="/css/pageStyle.css" rel="stylesheet"/>
</head>
	<body>
		<div th:fragment="header" class="header">
					<a th:href="@{/website/create}">Add new website</a>
					<a th:href="@{/user}">Go to profile</a>
		</div>
	</body>

</html>