<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>profile</title>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
		<link href="/css/pageStyle.css" rel="stylesheet"/>
  </head>
	</head>

	<body>
						<div th:replace="~{fragments/header :: header}"></div>
						
						<div class="user-page-title">
							<h1>Profile</h1>
						</div>
						
					<form action="#" th:action="@{/user/__${id}__}" th:object="${user}" method="get">
						<div class="user-profile">
							<div class="user-info">
								<h3 th:text="${user.getUsername}">#</h3>	
								<h3 th:text="${user.getEmail}">#</h3>	
								<a class="edit-button"th:href="@{/user/{idU}/edit(idU=${user.getIdUser})}" role="button">Edit</a>						
							</div>
						
							<div class="website-list" th:each="website: ${website}">
								<div class="website-list-item">
									<h2 th:text="${website.getTitle}">#</h2>
									<div class="buttons-mini">
										<a class="edit-button-mini" th:href="@{/website/edit/{idW}(idW=${website.getIdWeb})}" role="button">Edit</a>
										<a class="delete-button-mini" th:href="@{/website/delete/{idW}(idW=${website.getIdWeb})}" role="button">Delete</a>
									</div>
								</div>
							</div>
						</div>
					</form>
					
				<div class="footer-website" th:replace="~{fragments/footer :: footer-website}"></div>
	</body>
</html>