html, body{
	padding: 0;
  	margin: 0;
  	font-family: 'Sora',sans-serif;
}

*{
	box-sizing: border-box;
}

.header-go-to-profile, .header-website-create{
	 overflow: hidden;
	 padding: 5px 10px;
	 background: black;
}

.header-go-to-profile a, .header-website-create a{
	float: right;
	text-align: center;
	font-size: 15px;
	padding: 10px;
	color: #8171C9;
	text-decoration: none;
}

.header-go-to-profile a:hover, .header-website-create a:hover{
	background-color: #8171C9;
	color: black;
	border-radius: 10px;
}

.footer-website {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 10px;
   background-color: #8171C9;
   color: black;
   text-align: left;
}

.homepage-title {
	display: flex;
	flex-direction: column;
    width: 100%;
    height: 225px;
    background: #8171C9;
}

.homepage-title h1 {
    text-align: center;
    font-size: 100px;
    color: black;
    text-shadow: -2px 4px #28B1AF;
    letter-spacing: 2px;
}

.login-container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	row-gap: 30px;
	max-width:500px;
	padding-top: 30px;
	margin: auto;
	color: black;
	font-size: 20px;
}

.login-form {
	width: 100%;
}

.login-form input[type=submit]{
	background: #28B1AF;
	border: 3px solid #000000;
	border-radius: 6px;
	width: 100%;
	height: 55px;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 22px;
	font-weight: bold;
}

.login-form input[type=submit]:hover{
	background: #000000;
	border: 5px solid #28B1AF;
	color: #28B1AF;
	transition: 1s ease-out 300ms;
}

.form-control {
	background: #F2F2F2;
	border: 1px solid #28B1AF;
	width: 100%;
	height: 55px;
	margin: 0px 5px 0px 5px;
}

.form-label{
	text-align: left;
    font-size: 20px;
    font-weight: bold;
}

.user-page-title{
	text-align: left;
    font-size: 40px;
    color: black;
    background: #8171C9;
    width: 100%;
    margin: 0;
    display: flex;
}

.user-profile{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #8171C9;
	width: 100%;
	height:100%;
	margin: 0;
	align-items: stretch;
}

.edit-button{
	padding: 10px;
	margin: 5px;
	background-color: black;
	border: 2px solid #28B1AF;
	color: #28B1AF;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
}

.user-info{
	display: flex;
	flex-direction: column;
	background-color: #28B1AF;
	border: 2px solid black;
	width:30%!important;
	height: 100%;
	border-radius: 15px;
	padding: 15px;
	margin: 10px;
}

.website-list{
	display: flex;
	flex-direction: column;
	width:70%!important;
	height: 100%;
	padding: 15px;
}

.website-list h2 {
	padding: 10px;
}

.website-list-item{
	border: 2px solid black;
	border-radius: 15px;
	margin-bottom: 10px;
}

.buttons-mini{
	text-align: right;
	background-color: rgba(0,0,0,0.6);
	padding: 15px;
	border-radius: 0px 0px 13px 13px;
}

.edit-button-mini, .delete-button-mini{
	text-align: center;
  	text-decoration: none;
	border-radius: 10px;
	font-size: 15px;
	padding: 10px;
}

.edit-button-mini{
	background: #28B1AF;
	border: 1px solid black;
	color: black;
}

.delete-button-mini {
	background: black;
	border: 1px solid white;
	color: white;
}

.website-create-sidebar {
  	margin: 0;
  	padding: 0;
  	width: 600px;
  	background-color: rgba(0,0,0, 0.8);
  	position: fixed;
  	height: 100%;
  	overflow: auto;
}


.website-create-sidebar-item {
	padding:15px 15px 10px 15px;
	font-size: 15px;
	display: flex;
	text-align: left;
	flex-direction: column;
	flex-wrap: wrap;
}

.website-create-sidebar-item label{
	color: white;
	display: block;
}

.website-create-sidebar-item input, .website-create-sidebar-item textarea, .website-create-sidebar-item select{
	padding: 5px;
	font-size: 18px;
	font-family: inherit;
}

textarea[name=paragraph]{
	resize: none;
}

.website-control-buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
 	align-items: stretch;
	width: 100%;
}

.save-button, .publish-button, .unpublish-button {
	padding: 10px;
	margin: 5px;
	text-align: center;
	text-decoration: none;
	border-radius: 10px;
	box-sizing: border-box;
	width: 100%;
	height: 30px;
}

.save-button {
	background-color: #28B1AF;
	border: 2px solid black;
	color: black;
}

.publish-button, .unpublish-button {
	background-color: black;
	border: 2px solid #28B1AF;
	color: #28B1AF;
}

.error-page {
	background: #28B1AF;
	color: black;
	
}



