<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>create</title>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
		<link href="css/pageStyle.css" rel="stylesheet"/>
  </head>
  
	<body>
			<div class="error-page">
				<h1 class="error-title">Something went wrong!</h1>
				<a href="/">Go Home</a>
			</div>
	</body>
</html>