<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>site</title>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
		<link href="css/homePageStyle.css" rel="stylesheet"/>
  </head>
	</head>

	<body>
						<div class="registrationpage-title">
						<h1>Welcome!</h1>
						</div>
						<div class="registration-container">
				    	<form class="login-form" name='loginForm' action="login" method='POST'>
							<div>
							  <label class="form-label">Username</label>
							  <input type="text" name='username' class="form-control" placeholder="Enter username...">
							</div>
							<div>
							  <label class="form-label">E-mail</label>
							  <input type="text" name='email' class="form-control" placeholder="Enter e-mail...">
							</div>
							<div>
							  <label class="form-label">Password</label>
							  <input type="password" name='password' class="form-control" placeholder="Enter password...">
							</div>
							<div>
							<td><input name="register" type="submit" value="Register"/></td>
							</div>
				    	</form>
						</div>
	</body>
</html>