<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

	<head>
		<title>create</title>
		<meta charset="UTF-8" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Sora&display=swap" rel="stylesheet">
		<link href="/css/pageStyle.css" rel="stylesheet"/>
		<script type="text/javascript" th:src="@{/js/actions.js}"></script>
  </head>
	</head>

	<body>
						<div th:replace="~{fragments/header :: header2}"></div>
						
						<form action="#" th:action="@{/website/create}" th:object="${website}" method="post">
							<div class="website-create-sidebar">
							
								<div class="website-create-sidebar-item">
									<label>Title</label>
									<input type="text" th:field="*{title}" name="title" placeholder="${title}">
									<div class="error-message" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
								</div>
								
								<div class="website-create-sidebar-item">
									<label>Heading</label>
									<input type="text" th:field="*{heading}" name="heading" placeholder="${heading}">
									<div class="error-message" th:if="${#fields.hasErrors('heading')}" th:errors="*{heading}"></div>
								</div>
								
								<div class="website-create-sidebar-item">
									<label>Paragraph</label>
									<textarea name="paragraph" maxlength="1000" rows="6" th:field="*{paragraph}" placeholder="${paragraph}" />
									<div class="error-message" th:if="${#fields.hasErrors('paragraph')}" th:errors="*{paragraph}"></div>
								</div>
								
								<div class="website-create-sidebar-item">
									<label>Template</label>
									<select th:field="*{template}">
			    						<option th:each="templateOption: ${T(com.siite.demo.enums.TemplateEnum).values()}" th:value="${templateOption}" th:text="${templateOption}" />
									</select>
								</div>
								
								<div class="website-control-buttons">
									<a class="save-button" th:href="@{/website/edit/{id}(id=${website.getIdWeb})}" role="button">Save</a >
									<a id="publishButton" class="publish-button" th:href="@{/website/published/{id}(id=${website.getIdWeb})}" role="button">Publish</a >
									<a id="unpublishButton" class="unpublish-button" th:href="@{/website/unpublished}" role="button">Unpublish</a>
								</div>
							</div>
						</form>
	</body>